In [1]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import svm
%matplotlib inline

train_data = pd.read_csv("train.csv")

In [2]:
train_data.Age = train_data.Age.fillna(train_data.Age.mean())
train_data = train_data.replace('male', 0).replace('female', 1).replace('C', 0).replace('Q', 1).replace('S', 2)
train_data.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
train_data.dropna()
train_data.head(10)

male = train_data.drop(train_data.index[train_data.Sex==1])
male.drop(['Sex'], axis=1, inplace=True)

female = train_data.drop(train_data.index[train_data.Sex==0])
female.drop(['Sex'], axis=1, inplace=True)
female.Embarked = female.Embarked.fillna(2.0)

In [3]:
male_sample_x = male.drop(['Survived'], axis=1)
male_sample_y = male.drop(["Pclass", "Age", "SibSp", "Parch", "Fare", "Embarked"], axis=1)

In [4]:
male_sample_x

     Pclass        Age  SibSp  Parch      Fare  Embarked
0         3  22.000000      1      0    7.2500       2.0
4         3  35.000000      0      0    8.0500       2.0
5         3  29.699118      0      0    8.4583       1.0
6         1  54.000000      0      0   51.8625       2.0
7         3   2.000000      3      1   21.0750       2.0
12        3  20.000000      0      0    8.0500       2.0
13        3  39.000000      1      5   31.2750       2.0
16        3   2.000000      4      1   29.1250       1.0
17        2  29.699118      0      0   13.0000       2.0
20        2  35.000000      0      0   26.0000       2.0
21        2  34.000000      0      0   13.0000       2.0
23        1  28.000000      0      0   35.5000       2.0
26        3  29.699118      0      0    7.2250       0.0
27        1  19.000000      3      2  263.0000       2.0
29        3  29.699118      0      0    7.8958       2.0
30        1  40.000000      0      0   27.7208       0.0
33        2  66.000000      0      0   10.5000       2.0
34        1  28.000000      1      0   82.1708       0.0
35        1  42.000000      1      0   52.0000       2.0
36        3  29.699118      0      0    7.2292       0.0
37        3  21.000000      0      0    8.0500       2.0
42        3  29.699118      0      0    7.8958       0.0
45        3  29.699118      0      0    8.0500       2.0
46        3  29.699118      1      0   15.5000       1.0
48        3  29.699118      2      0   21.6792       0.0
50        3   7.000000      4      1   39.6875       2.0
51        3  21.000000      0      0    7.8000       2.0
54        1  65.000000      0      1   61.9792       0.0
55        1  29.699118      0      0   35.5000       2.0
57        3  28.500000      0      0    7.2292       0.0
..      ...        ...    ...    ...       ...       ...
840       3  20.000000      0      0    7.9250       2.0
841       2  16.000000      0      0   10.5000       2.0
843       3  34.500000      0      0    6.4375       0.0
844       3  17.000000      0      0    8.6625       2.0
845       3  42.000000      0      0    7.5500       2.0
846       3  29.699118      8      2   69.5500       2.0
847       3  35.000000      0      0    7.8958       0.0
848       2  28.000000      0      1   33.0000       2.0
850       3   4.000000      4      2   31.2750       2.0
851       3  74.000000      0      0    7.7750       2.0
857       1  51.000000      0      0   26.5500       2.0
859       3  29.699118      0      0    7.2292       0.0
860       3  41.000000      2      0   14.1083       2.0
861       2  21.000000      1      0   11.5000       2.0
864       2  24.000000      0      0   13.0000       2.0
867       1  31.000000      0      0   50.4958       2.0
868       3  29.699118      0      0    9.5000       2.0
869       3   4.000000      1      1   11.1333       2.0
870       3  26.000000      0      0    7.8958       2.0
872       1  33.000000      0      0    5.0000       2.0
873       3  47.000000      0      0    9.0000       2.0
876       3  20.000000      0      0    9.8458       2.0
877       3  19.000000      0      0    7.8958       2.0
878       3  29.699118      0      0    7.8958       2.0
881       3  33.000000      0      0    7.8958       2.0
883       2  28.000000      0      0   10.5000       2.0
884       3  25.000000      0      0    7.0500       2.0
886       2  27.000000      0      0   13.0000       2.0
889       1  26.000000      0      0   30.0000       0.0
890       3  32.000000      0      0    7.7500       1.0

[577 rows x 6 columns]

In [5]:
male_sumple_y

NameError: name 'male_sumple_y' is not defined

In [ ]:
female_sample_x = female.drop(['Survived'], axis=1)
female_sample_y = female.drop(["Pclass", "Age", "SibSp", "Parch", "Fare", "Embarked"], axis=1)

In [ ]:
female_sample_x

In [ ]:
male_svm = svm.SVC()
male_svm.fit(male_sample_x, male_sample_y.values.ravel())

In [ ]:
female_svm = svm.SVC()
female_svm.fit(female_sample_x, female_sample_y.values.ravel())

In [ ]:
test_data = pd.read_csv("test.csv")
test_data.Age = test_data.Age.fillna(test_data.Age.mean())
test_data = test_data.replace('male', 0).replace('female', 1).replace('C', 0).replace('Q', 1).replace('S', 2)
test_data.Embarked = test_data.Embarked.fillna(2.0)
test_data.Fare = test_data.Fare.fillna(0) # to be dead


ids = test_data['PassengerId']
sex = test_data['Sex']
test_data.drop(['PassengerId', 'Sex', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_data.head()

In [ ]:
output = pd.DataFrame(columns=["PassengerId","Survived"])


for i in range(len(ids)) :
    row = test_data[i:i+1]
    predicted = None
    if sex[i] == 0 : # male
        predicted = male_svm.predict(row)
    elif sex[i] == 1 : # female
        predicted = female_svm.predict(row)
    
    insert = pd.Series([ids[i], predicted[0]], index=output.columns)
    output = output.append(insert, ignore_index=True)

#    df = pd.DataFrame([[ids[i], predicted[0]]], columns=["PassengerId","Survived"])
#    output = output.append(df, ignore_index=True)
#print(output)

In [ ]:
output.describe()

In [ ]:
output.to_csv('1st_submission_by_svm.csv', index=False)